---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body data-theme="dark">
  {% include navbar.html %}
  <div class="wrapper">
    <div class="banner">
      <img
        class="banner-frame"
        src="/assets/img/{{ page.banner }}"
        />
    </div>
    <header class="header">
      <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}</h1>
    </header>
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
